
*{
    margin: 0;
    padding: 0;
}

@media only print  {
    .navbar, #left, #right {
        display: none;
    }
}	

header {
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
}

body {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size:12px;
	letter-spacing:0.08em;
	color:#555;
	line-height: 14pt;
}

.navbar {
    background-color: #50cfde;
	color: #FFFFFF;
    height: 25px;
    width: 100%;
	padding-top: 7px;
    padding-left:50px;
    position: fixed;
    top: 0;
    left: 0;
}

/* This is the subttitle text */
h1 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size:20px;
	margin:0px;
	letter-spacing:0.08em;
	font-weight:500;
    text-align: center;
	line-height: 28px;
}

/* This is the references and footnotes */
h2 {
	font-family: 'Roboto', sans-serif;
	font-size:10px;
	margin:0px;
	letter-spacing:0.08em;
	font-weight:400;
	line-height: 10px;
}

/* This is the subttitle text */
h4 {
	font-family: 'Roboto', sans-serif;
	font-size:10px;
	margin:0px;
	letter-spacing:0.08em;
	font-weight:400;
	line-height: 15px;
}

.columns { 
    text-align: justify;
    text-justify: inter-word;
    height: 500px;
    -webkit-column-gap: 100px;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-gap: 100px;
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 20px;
}

#left, #right{
    font-size: 20px;
    position: fixed;
    left: 15px;
    top:50%;
}

#right{
    left: inherit;
    right: 15px;
}

a, a:hover, a:visited, a:active {
    color: #50cfde;
    text-decoration: none;
}

p {
    margin-top: 0;
}

/* This makes the images scale to the full width of the page */
img {
    max-height: 85%;
    max-width: auto;
}

/* macbook pro fullscreen */
@media screen and (max-width: 1024px) {
    .columns {
    -webkit-column-gap: 100px;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-gap: 100px;
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 20px;
    }
}

/* ipad - portrait */
@media screen and (max-width: 768px) {
    header .columns {
    -webkit-column-gap: 100px;
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -webkit-column-width: 100px;
    -moz-column-gap: 100px;
    -moz-column-count: 1; /* Firefox */
    -moz-colimn-width: 100px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 20px;
    }
}

/* iphone - portrait */
@media screen and (max-width: 36em) {
     .columns {
    -webkit-column-gap: 100px;
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -webkit-column-width: 100px;
    -moz-column-gap: 100px;
    -moz-column-count: 1; /* Firefox */
    -moz-colimn-width: 80px;
    column-count: 1;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
	}

header {
	margin-left: 16px;
	margin-right: 16px;
} 

body {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size:10px;
	letter-spacing:0.1em;
	color:#555;
	line-height: 12pt;
}

/* This is the subttitle text */
h1 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size:15px;
	margin:0px;
	letter-spacing:0.1em;
	font-weight:500;
    text-align: center;
	line-height: 23px ;
}

/* This is the references and footnotes */
h2 {
    font-size: 12px;
    font-weight: lighter;
    line-height: 12px;
}
     
}
